@use "../utils/helpers" as *;

#app {
  // TODO: удалить
  @extend %d-flex-column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  @extend %d-flex-column;
  @include fs-lh(var(--font-size-body),1);
  font-family: var(--font-family-body), sans-serif;
  color: var(--color-basic);
  min-height: 100vh;
  background-color: var(--color-neutral);
}

.wrapper {
  flex-grow: 1;

  @media #{$breakpoint-up-xs} {
    background: url(../assets/img/intro.png) no-repeat top center scroll var(--color-transp);
  }
}

.container {
  @include px(16px);
  @include mx(auto);
  max-width: 1432px;
}
