@use "../utils/helpers" as *;

.section {
  @include py(40px);

  @media #{$breakpoint-up-md} {
    @include py(100px);
  }

  &.section_type_col {
    @extend %d-flex-column;
    gap: 16px 0;

    @media #{$breakpoint-up-md} {
      gap: 40px 0;
    }
  }
}

.section-title {
  @include fs-lh(var(--font-size-xl),1);
  font-weight: var(--fw-medium);
  margin-bottom: 32px;

  @media #{$breakpoint-up-md} {
    display: none;
  }
}
