@use "../utils/helpers" as *;

%content-title {
  @include fs-lh(var(--font-size-xl),1.3);

  @media #{$breakpoint-up-md} {
    font-size: var(--font-size-xxl);
  }
}

.content {
  p, li, blockquote {
    @include fs-lh(var(--font-size-sm),1.3);
    margin-bottom: 24px;

    @media #{$breakpoint-up-md} {
      font-size: var(--font-size-body);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 0;
    list-style-type: disc;
    list-style-position: inside;
  }

  ul, ol {
    @extend %d-flex-column;
    gap: 4px 0;
  }

  blockquote {
    @media #{$breakpoint-up-md} {
      @include border(0 0 0 4px,#B4B4B5);
      padding: 0 0 0 12px;
    }
  }

  &.content_width_min {
    max-width: 595px;
  }

  &.content_fs_lg {
    p, li, blockquote {
      @media #{$breakpoint-up-md} {
        font-size: var(--font-size-lg);
      }
    }
  }

  &.content_fs_xl {
    p, li, blockquote {
      @include fs-lh(var(--font-size-xl),1.3);

      @media #{$breakpoint-up-md} {
        font-size: var(--font-size-xxl);
      }
    }
  }

  &.content_offset_bottom {
    margin-bottom: 80px;

    @media #{$breakpoint-up-md} {
      margin-bottom: 200px;
    }
  }

  &.content_type_blockquote {
    @include before;
    padding-bottom: 100px;

    @media #{$breakpoint-up-md} {
      padding-bottom: 150px;
    }

    &:before {
      @include wh(209px,149px);
      right: 0;
      bottom: -20px;
      background-size: 100% auto;

      @media #{$breakpoint-up-md} {
        @include wh(354px,252px);
      }
    }
  }

  h1 {
    @extend %content-title;
    margin: 0 0 16px;

    @media #{$breakpoint-up-md} {
      margin: 0 0 20px;
    }
  }
}
