@use "../utils/helpers" as *;

.hardware {
  margin: 0 0 40px;

  @media #{$breakpoint-up-md} {
    margin: 0 0 152px;
  }

  .hardware-item {
    @extend %d-flex-column;
  }
}

.hardware-grid {
  width: auto;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 0 16px 0 0;

  @media #{$breakpoint-up-md} {
    width: 100%;
    gap: 20px;
  }
}

.hardware-item {
  display: none;
  max-width: 216px;
  gap: 20px 0;

  @media #{$breakpoint-up-md} {
    max-width: 334px;
  }
}

.hardware-item__media {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  min-height: 80px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--color-white);

  @media #{$breakpoint-up-md} {
    min-height: 134px;
  }
}

.hardware-item__title {
  @include fs-lh(var(--font-size-xs),1.3);

  @media #{$breakpoint-up-md} {
    font-size: var(--font-size-body);
  }
}
