@use "../utils/helpers" as *;

.hardware {
  // TODO: убрать
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 16px;

  @media #{$breakpoint-up-md} {
    gap: 20px;
  }
}

.hardware__item-title {
  @include fs-lh(var(--font-size-xs),1.3);

  @media #{$breakpoint-up-md} {
    font-size: var(--font-size-body);
  }
}
