@use "../utils/helpers" as *;

.intro {
  @include before;

  &:before {
    @include pos(150px,-16px);
    right: -16px;
    bottom: 0;
    z-index: 1;

    @media #{$breakpoint-up-xs} {
      display: none;
    }
  }
}
